*{
    margin:0;
    padding:0;
}

.container{
    padding:20px;
}
#mainNavbar{
    margin-top:0;
    font-size:1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand{
    color:red;
}
#mainNavbar .nav-link{
    color:white;
}
#mainNavbar .nav-link:hover{
    color:red;
}
.price{
    width:30%;
    height:40px;
    border-radius:10px;
}
.content{
    margin-top: 50px;
    margin:3%;
}
#mymap {
    height:1000px !important;
    width:100% !important;
}
#surrey{
    height:700px;
}



