{% extends "bootstrap/base.html" %}
{% block title %} 
  This is my base page
{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}
{% block navbar %}

        <nav id ="mainNavbar" class="navbar navbar-expand-md navbar-dark">
<a class="navbar-brand" href="/">Property App</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="/map">Map <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apidata">API</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/csvdata">data</a>
  </li>
 
</ul>
</div>
</nav>
     
{% endblock %}
{% block content %}

<div class ="row">
  <div class ="col">Footer</div>
</div>



</div>
{% endblock %}
